.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}

.year_border {
    /* border: 1px solid black; */
    width: 40%;
    display: inline-block;
}

.experience_border {
    /* border: 1px solid black; */
    width: 49%;
    display: inline-block;
}

.country_border {
    /* border: 1px solid black; */
    width: 100%;
    display: inline-block;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
}


.year-svg-container {
    display: inline-block;
    position: relative;
    width: 49.7%;
    /* padding-bottom: 100%; aspect ratio */
    vertical-align: top;
    overflow: hidden;
}


.experience-svg-container {
    display: inline-block;
    position: relative;
    width: 49.7%;
    /* padding-bottom: 100%; aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.country-svg-container {
    /* display: inline-block; */
    position: relative;
    width: 100%;
    /* padding-bottom: 100%; aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

/* .visualization-header{
    display:inline-block;
    position: relative;
    vertical-align: center;
    overflow: hidden;
} */

.slider-bar{
    margin-right:10px;
    width:900px;
}

.introduction-dialog{
    border: solid black;
    background-color: yellow;
    width:80%;
    margin-bottom:10px;
}